* {
    box-sizing: border-box;
}

:root{
    --base-beige:#faf7f0;
    --beige-2:#f1e7d4; 
    --beige-3:#e2cda5;
    --beige-4:#d3af76;
    --honey-brown:#c99856;
    --tan:#be7d41;
    --light-brown:#a86237;
    --medium-brown:#8c4b31;
    --medium-dark-brown:#733d2d;
    --brunette-brown:#5f3428;
    --dark-brown:#361a12;
}

html{
    font-size: 100%;
    min-width: 300px;
}

body{
    font-family:sans-serif ;
}




/* NAV */ 

#main-nav{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    height: 1.5cm;

    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: .5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-nav a{
    font-family: "courier-new", sans-serif;
    font-weight: 400;
    font-style: normal;
}






/* INDEX */ 

#backer{
    background-image: url(images/Firefly_unique\ earthy\ toned\ backgrounds\ with\ bubbles\ 474459.jpg);
    height: 600px;
    background-size: 110%;
}

/* FONTS */ 


#h1-main{
    font-family: "basset-seven", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40pt;
}





