* {
    box-sizing: border-box;
}

:root{
    --base-beige:#faf7f0;
    --beige-2:#f1e7d4; 
    --beige-3:#e2cda5;
    --beige-4:#d3af76;
    --honey-brown:#c99856;
    --tan:#be7d41;
    --light-brown:#a86237;
    --medium-brown:#8c4b31;
    --medium-dark-brown:#733d2d;
    --brunette-brown:#5f3428;
    --dark-brown:#361a12;
}

html{
    font-size: 100%;
    min-width: 300px;
}

body{
    font-family:sans-serif ;
}




/* MAIN NAV */ 

#main-nav{
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    height: 1.5cm;
    padding-top: .5cm;
    padding-left: .5cm;
    padding-right: .5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    
}
#main-nav a{
    font-family: "courier-new", sans-serif;
    font-weight: 600;
    font-style: normal;


}

header{
    border: #361a12;
    border-style: inset;
    border-width: 5px;
    background-color: var(--dark-brown);
}

header a{
    text-decoration: none;
    color: #000000;
    font-size: 14pt;
    
}

header a:hover {
    color: var(--honey-brown);
}







/* BOTTOM NAV */ 


#bottom-nav a{
    font-family: "courier-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: white;

}

#bottom-nav{
    height: 1.5cm;
    padding-top: .5cm;
    padding-left: .5cm;
    padding-right: .5cm;
    padding-bottom: .5cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

footer{
    margin-top: 155px;
    border: #361a12;
    border-style: inset;
    border-width: 5px;
    background-color: var(--dark-brown);
    
}

#bottom-nav a:hover{
    color: var(--honey-brown);
}



/* cc */ 

#bottom-note{
    display: flex;
    justify-content: center;
    font-family: "courier-new", sans-serif;
    font-weight:200;
    font-style: normal;
    font-size: 10pt;
    color: rgb(255, 255, 255);
}





/* INDEX PAGE */ 


#h1-head{
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

#backer{
    background-image: url(images/Firefly_unique\ earthy\ toned\ backgrounds\ with\ bubbles\ 474459.jpg);
    height: 600px;
    background-size: 150%;
    backdrop-filter: blur(5px);
}

#introduction{
    color: #ffffff;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    
}

#home-grid-menu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

#home-grid-menu a{
    font-family: "courier-new", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #f1e7d4;
}

#w-1{
    grid-column-start:1 ;
    grid-column-end:1 ;
    grid-row-start: 1;
    grid-row-end:1 ;
    background-color: var(--tan);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-1:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-2{
    grid-column-start:2 ;
    grid-column-end:2 ;
    grid-row-start: 1;
    grid-row-end:1 ;
    background-color: var(--medium-dark-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-2:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-3{
    grid-column-start:3 ;
    grid-column-end:3 ;
    grid-row-start: 1;
    grid-row-end:1 ;
    background-color: var(--medium-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-3:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-4{
    grid-column-start:4 ;
    grid-column-end:4 ;
    grid-row-start: 1;
    grid-row-end:1 ;
    background-color: var(--dark-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-4:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-5{
    grid-column-start:1 ;
    grid-column-end:1 ;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: var(--dark-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-5:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-6{
    grid-column-start:2 ;
    grid-column-end:2 ;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: var(--brunette-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-6:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-7{
    grid-column-start:3 ;
    grid-column-end:3 ;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: var(--beige-4);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}

#w-7:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}


#w-8{
    grid-column-start:4 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end:2;
    background-color: var(--light-brown);
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 60px;
    border: #000000;
    border-style: outset;
    border-width: 8px;
}


#w-8:hover{
    border-style: inset;
    background-color: rgb(182, 156, 140);
    color: #000000;
}




/* FONTS */ 


h1{
    font-family: "anisette-std", sans-serif;
font-weight: 700;
font-style: normal;
    color: white;
    font-size: 50pt;
}

h3{
    font-family: "courier-new", sans-serif;
    font-weight:400;
    font-style: normal;
    font-size: 14pt;
}